/*-------- 1.1 Typography --------*/
/* rem reference
10px = 0.625rem
12px = 0.75rem
14px = 0.875rem
16px = 1rem (base)
18px = 1.125rem
20px = 1.25rem
24px = 1.5rem
30px = 1.875rem
32px = 2rem
*/

body {
  background: #fff;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.7;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  color: #444;
}

